#field{
    margin: auto;
    border: 2px solid black;
}

.box{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

#winlabel{
    display: block;
    text-align: center;
    font-size: 59px;
}